<fieldset>
    {{ if show_label ?? fields[field].show_label }}
        <div class="mb-4">
            <legend class="text-base font-medium text-gray-900">{{ label ?? fields[field].label }}</legend>
            <p class="text-sm text-gray-500">{{ instructions ?? fields[field].instructions }}</p>
        </div>
    {{ /if }}
    <div>
        <div class="{{ inline || fields[field].inline ? 'items-center space-x-6' : 'flex-col justify-center space-y-4' }} flex">
            {{ if options }}
                {{ foreach:options as="option|label" }}
                    {{ partial src="livewire-forms::fields/checkbox" }}
                {{ /foreach:options }}
            {{ elseif fields[field].options }}
                {{ foreach :array="fields[field].options" as="option|label" }}
                    {{ partial src="livewire-forms::fields/checkbox" }}
                {{ /foreach }}
            {{ /if }}
        </div>

        {{ partial src="livewire-forms::fields/error" }}
    </div>
</fieldset>
