<div class="{{ inline || fields[field].inline ? 'inline-flex' : 'flex' }} items-start">
    <div class="flex items-center h-5">
        <input
            id="{{ handle ?? fields[field].handle }}.{{ option ?? fields[field].option }}"
            name="{{ handle ?? fields[field].handle }}"
            value="{{ label ?? fields[field].label }}"
            type="checkbox"
            wire:model.lazy="{{ key ?? fields[field].key }}"

            {{ if ! (error ?? fields[field].error) }}
                class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
            {{ else }}
                class="w-4 h-4 text-indigo-600 border-red-300 rounded focus:ring-red-500"
                aria-invalid="true"
                aria-describedby="{{ handle ?? fields[field].handle }}-error"
            {{ /if }}
        />
    </div>
    <div class="ml-3 text-sm">
        <label
            for="{{ handle ?? fields[field].handle }}.{{ option ?? fields[field].option }}"

            {{ if ! (error ?? fields[field].error) }}
                class="font-medium text-gray-700"
            {{ else }}
                class="font-medium text-red-700"
            {{ /if }}
        >
            {{ label ?? fields[field].label }}
        </label>
    </div>
</div>
