{{ if show_label ?? fields[field].show_label }}
    <div class="mb-1">
        <label for="{{ handle ?? fields[field].handle }}" class="block font-medium text-gray-700 {{ instructions || fields[field].instructions ? 'text-base' : 'text-sm' }}">
            {{ label ?? fields[field].label }}
        </label>
        {{ if instructions || fields[field].instructions }}
            <p class="mb-4 text-sm text-gray-500">{{ instructions ?? fields[field].instructions }}</p>
        {{ /if }}
    </div>
{{ /if }}

<div>
    <select
        id="{{ handle ?? fields[field].handle }}"
        name="{{ handle ?? fields[field].handle }}"
        wire:model.lazy="{{ key ?? fields[field].key }}"

        {{ if ! (error ?? fields[field].error) }}
            class="block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        {{ else }}
            class="block w-full py-2 pl-3 pr-10 text-base text-red-800 border-red-300 rounded-md focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
            aria-invalid="true"
            aria-describedby="{{ handle ?? fields[field].handle }}-error"
        {{ /if }}
    >
        {{ if options }}
            {{ foreach:options as="option|label" }}
                <option value="{{ option }}">{{ label }}</option>
            {{ /foreach:options }}
        {{ elseif fields[field].options }}
            {{ foreach :array="fields[field].options" as="option|label" }}
                <option value="{{ option }}">{{ label }}</option>
            {{ /foreach }}
        {{ /if }}
    </select>
</div>

{{ partial src="livewire-forms::fields/error" }}
