<label for="{{ handle ?? fields[field].handle }}" class="block text-sm font-medium text-gray-700">
    {{ label ?? fields[field].label }}
</label>

<div class="mt-1">
    <textarea
        id="{{ handle ?? fields[field].handle }}"
        name="{{ handle ?? fields[field].handle }}"
        placeholder="{{ placeholder ?? fields[field].placeholder }}"
        wire:model.lazy="{{ key ?? fields[field].key }}"
        rows="5"

        {{ if ! (error ?? fields[field].error) }}
            class="block w-full placeholder-gray-300 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        {{ else }}
            class="block w-full text-red-800 placeholder-red-300 border-red-300 rounded-md focus:ring-red-500 focus:border-red-500 sm:text-sm"
            aria-invalid="true"
            aria-describedby="{{ handle ?? fields[field].handle }}-error"
        {{ /if }}
    ></textarea>
</div>

{{ partial src="statamic-livewire-forms::fields/error" }}
